In [1]:
import pandas as pd
import numpy as np 
import os 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
from sklearn import tree

In [2]:
print(os.getcwd())

c:\Users\HPPro\Documents\GitHub\Codewars\ML\BASIC

In [23]:
os.chdir('c:\\Users\\HPPro\\Documents\\GitHub\\Codewars\\ML')
music_data = pd.read_csv("Dataset\\music.csv")
os.chdir('c:\\Users\\HPPro\\Documents\\GitHub\\Codewars\\ML\\BASIC')
music_data.shape

(18, 3)

In [31]:
music_data.head(18)

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [24]:
cols = list(music_data.columns)
cols.remove("genre")

In [36]:
X = music_data.drop(columns='genre')
y = music_data["genre"]

model = DecisionTreeClassifier() 
model.fit(X , y )

tree.export_graphviz(model , out_file="music-reccomdmener.dot",
                               feature_names=cols,
                               class_names=sorted(y.unique()),
                               label='all',
                               rounded=True,
                               filled= True )

In [30]:
X = music_data.drop(columns=["genre"])
y = music_data["genre"]
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.3)
model = DecisionTreeClassifier()
model.fit(X_train , y_train)
predictions = model.predict(X_test)
score = accuracy_score(y_test , predictions)
score

0.8333333333333334

In [31]:
X_test

    age  gender
2    25       1
10   21       0
14   30       0
6    31       1
8    37       1
0    20       1

In [34]:
for i in range(len(list(y_test))):
    print(list(y_test)[i] ,"\t->", predictions[i])

HipHop 	-> Jazz
Dance 	-> Dance
Acoustic 	-> Acoustic
Classical 	-> Classical
Classical 	-> Classical
HipHop 	-> HipHop

In [ ]:
# Save model 
joblib.dump(model , "music-recommand.joblib")

In [8]:
# Load model 

model = joblib.load(filename="music-recommand.joblib")
predictions = model.predict([[26,1] , [34,0]])
predictions

c:\Users\HPPro\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Jazz', 'Classical'], dtype=object)